/*Color palette
principal = #f6f5f1
secundario = #030303
terciario = faf9f7
cuaternario = #000000
quintinario = #a5a5a3

*/

*{
    margin: 0;
    padding: 0;
    background-color: #dbdad7;
}

/*Logo unicornio navbar*/
.logo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
/*---------------------*/

/*----Header-------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030303;
}
/*-----------------*/


/*Cart image*/
.cartIconImg{
    width: 30px;
}
/*--------------*/

/*Just color backgrounds to match the header*/
nav.navbar{
    background-color: #030303;
}
div.container-fluid{
    background-color: #030303;
}
/*------------------------------------------*/

/*List whith items to navigate the website*/
ul{
    list-style: none;
    background-color: #030303;
}
.liLink{
    color: #faf9f7;
    text-decoration: none;
    background-color: #030303;
    padding: 10px;
}
.liLink:hover{
    color: #030303;
    text-decoration: none;
    background-color: #faf9f7;
    transition: 0.5s;
}
.navItem{
    color: #faf9f7;
    font-size: 20px;
    background-color: #030303;
    padding: 10px;
    margin: 20px;
}
/*----------------------------------------*/

.cartWidget{
    display: flex;
    align-items: center;
    background-color: #030303;
    padding: 10px;
    cursor: pointer;
}